<!DOCTYPE html>
<html>
  <head>
    <title>Rail4Mongoid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
    	<%= render 'shared/navigation' %>
	  </ul>
	  <% flash.each do |name, msg| %>
	    <% if msg.is_a?(String) %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>
	  <% end %>
		<%= yield %>
  </body>
</html>
